/* Media quesry bonus */

@media screen and (max-width: 500px){
    
    .recent-playlist-item{
        width: calc((100% / 1) - 5px);
    }
}






@media screen and (min-width: 600px){


/*------------
    Header
-------------*/

    header{
        width: calc(100% - 230px);
    }

/*------------
    Main
-------------*/
    .container{
        width: calc(100% - 230px);
    }
/*------------
    Side-Bar
-------------*/
    
    .side-bar{
        width: 230px;
        align-items:baseline;
        padding-left: 10px;
    }

    .side-bar-account{
        text-align: left;
    }

    .logo-xs{
        display: none;
    }

    .logo{
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;
        padding: 20px 70px 20px 0px ;
    }

    .side-bar-label{
        display: inline;
        font-weight: 500;
    }

    .side-bar-icon{
        padding-right: 5px;
    }
    .side-bar-playlist-items{
        display: inline-block;
    }

    .side-bar-download{
        width: 200px;
        border-bottom: 1px solid grey;
    }

/*-----------------
    Footer/Player
------------------*/
    .now-playing-miniature{
        width: 45px;
        height: 45px;
    }

    .now-playing-info .info-song-name{
        font-size: 16px;
        font-weight: bolder;
    }

    .now-playing-info .info-author{
        font-size: 14px;
        font-weight: 300;
    }

    .now-playing-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .now-playing-icons i{
        font-size: 14px;
        margin-right: 10px;
    }

    .control-bar-btn .xs-hide{
        display: inherit;
    }
}



@media screen and (min-width: 700px){


/*-----------------
    Footer/Player
------------------*/
    .output-bar{
        padding: 10px;
        justify-content: flex-end;
    }

    .now-playing-miniature{
        width: 50px;
        height: 50px;
        flex-shrink: 0;
    }

    .output-bar i{
        font-size: 16px;
    }

    .output-bar .item-nav{
        position: relative;
        cursor: pointer;
        width: 40%;
        height: 5px;
        background-color: #5a5a5a;
    }

    .recent-playlist-item{
        width: calc((100% / 4) - 10px);
    }
}



@media screen and (min-width: 1100px){
   
    /*-----------------
        Footer/Player
    ------------------*/
    .control-bar-nav .item-nav{
        position: relative;
        cursor: pointer;
        width: 270px;
        height: 5px;
        background-color: #5a5a5a;
        margin: 0px 10px;
    }

    .output-bar .item-nav{
        position: relative;
        cursor: pointer;
        width: 100px;
        height: 5px;
        background-color: #5a5a5a;
    }

    .gallery-item{
        width: calc((100% / 6) - 10px);
    }
}